* {
    padding: var(--padding, 0);
    margin: var(--padding, 0);
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

    scroll-behavior: smooth;
}

.navigation {
    z-index: 1000;
    background-color: rgba(0, 255, 255, 0.144);
}
